body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 20px;
}

h1
{
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0px;
}

h1 a
{
    text-decoration: none;
}

h1 a:visited
{
    color: Black;
}

h2
{
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0px;
}

.blogs
{
    margin-bottom: 30px;
}
    
.blog
{
    display: inline-block;
    font-size: 20px;
    margin-right: 30px;
}
    
.post 
{
    margin: 20px 0px 30px 15px;
}

.post h2
{
    font-size: 20px;
}

.post p 
{
    margin-bottom: 10px;
}

.post span
{
    font-size: 10px;
}


/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
