@model System.Collections.Generic.IList<WeenyMapper.Specs.TestClasses.Entities.BlogPost>
           
           <ul class="posts">
           
               @foreach (var post in Model)
               {
                   <li class="post">
                    <h2>@Html.ActionLink(@post.Title, "Index", "Post", new { Id = post.Id }, new { })</h2>
                    <p>@post.Content</p>
                    @Html.Partial("PostSignatureControl", post)
                   </li>
               }
           
           </ul>

